

.header {
    background-color: #9b75cc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    transition: scale 350ms ease-in-out;
}

.logo:hover {
   scale: 1.1;
}

.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    color: white;
    transition: text-shadow 350ms ease-in-out;

}

.list a:hover{ 
    text-shadow: 0 0 10px antiquewhite;
    
}

@media screen and (min-width: 675px) {
    .list {
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 28px;
        color: white;
    
    }
}