.title {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: #9b75cc;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 5px;
    width: 100px;
    transition: all 250ms ease-in-out;
}

.btn:hover {
    scale: 1.1;
}